@(text: Option[String], category: Option[String],
        debug: Option[String])

<div class="header-class">
    <h1>Классификатор</h1>
</div>

<div class="form-class">
    <form action="/bayes/classify" method="POST">
        <label for="textlabel">Введите текст</label>
        <textarea name="text">@text</textarea>
        <input type="hidden" name="category">@category</input>
        <input type="hidden" name="debug">@debug</input>
        <button type="submit">Классифицировать</button>
    </form>
</div>


@if(category.nonEmpty) {
    <p>Результат: @category</p>

    <p>@debug</p>
}